* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: hsl(218, 23%, 16%);
}

.main {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.main__section {
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__container--cards {
    height: 27vh;
    position: relative;
}

.card__front {
    background-image: url(./images/bg-card-front.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 132px;
    left: 16px;
    z-index: 10;
}

.card__front--img {
    width: 50px;
}

.card__front--name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    text-transform: uppercase;
}

.card__front p {
    margin-top: 20px;
    font-size: 1.15rem;
    text-align: center;
    letter-spacing: 2.5px;
}
.card__front--name h1 {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
}

.card__back {
    background-image: url(./images/bg-card-back.png);
    position: relative;
    font-size: 12px;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 8;
}

.card__back span {
    position: absolute;
    right: 40px;
    top: 72px;
}

.card__front, .card__back {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 160px;
    width: 300px;
    border-radius: .5rem;
    padding: 1.5rem;
    color: #fff;
    user-select: none;
}

.container__form {
    width: 100%;
    height: 73vh;
    position: relative;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 4rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s linear;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form > div label {
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 600;
}

.form > div input {
    padding: .75rem;
    border: 1px solid hsl(278, 9%, 76%);
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Space Grotesk', sans-serif;
    transition: all .3s linear;
}

.form > div input::placeholder {
    color: hsl(278, 9%, 76%);
}

.form > div input:focus {
    border-image-source: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__container--date, .form__container--cvc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
}

.form__container--date input {
    width: 48%;
}

.form__container--date div {
    display: flex;
    justify-content: space-between;
}

.form__container--cvc input {
    width: 100%;
}

.form__btn button {
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1.25rem;
    cursor: pointer;
}

#completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s ease;
}

#completed > div > h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

#completed > div > h3 {
    color: hsl(279, 6%, 55%);
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

#completed > a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: hsl(278, 68%, 11%);
    padding: 1rem;
    border-radius: 10px;
}

.hide__message {
    /* display: none !important; */
    transform: translateX(1000%);
}

.error__message--input {
    border: 1px solid hsl(0, 100%, 66%) !important;
}

.error__message--text {
    color: hsl(0, 100%, 66%);
    font-size: 14px;
}

.attribution { font-size: 11px; text-align: center; color: #c0bfbf}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 380px) {
    .form > div label {
        font-size: 12px;
    }
}

@media screen and (min-width: 630px) {
    .main__section {
        background-image: url('./images/bg-main-desktop.png');
        display: flex;
    }

    .main__container--cards {
        height: 100vh;
        width: 30%;
    }

    .card__front {
        left: 20%;
        top: 240px;
    }

    .card__back {
        left: 20%;
        top: 420px;
    }

    .container__form {
        width: 70%;
        height: 100vh;
    }

    .form, #completed {
        width: 100%;
        padding: 3rem 2rem 3rem 10rem;
        justify-content: center;
    }

    .form > div label {
        font-size: 10px;
        letter-spacing: 1px;
    }

    .form > div input::placeholder {
        font-size: 1rem;
    }
}

@media screen and (min-width: 790px) {
    .card__front {
        left: 30%;
    }

    .card__back {
        left: 40%;
    }

    .form, #completed {
        padding: 3rem 2rem 3rem 11rem;
    }

    .form > div label {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .form > div input::placeholder {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 990px) {
    .main__container--cards {
        width: 40%;
    }

    .card__front {
        width: 400px;
        height: 240px;
        left: 45%;
    }

    .card__front--img {
        width: 75px;
    }

    .card__front p {
        font-size: 1.5rem;
    }

    .card__back {
        width: 400px;
        height: 240px;
        top: 500px;
        left: 55%;
    }

    .card__back span {
        top: 108px;
        font-size: 1rem;
    }

    .container__form {
        width: 60%;
    }

    .form, #completed {
        padding-left: 15rem;
    }

    .form > div label {
        font-size: 12px;
    }
}

@media screen and (min-width: 1440px) {

    .form, #completed {
        padding-right: 6rem;
    }
}
